<% content_for(:title, t('.title')) %>

<div class="max-w-md p-6 mx-auto border rounded-md shadow-lg border-gray-500/20 backdrop-blur-lg bg-gray-50/10">

  <!-- 新規登録画面の入力フォームを配置 -->
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <!-- ユーザーネームを別テーブルに登録する -->
    <div class="mb-5 field">
      <%= f.label :name, class:"form-label my-2" %>
      <%= f.text_field :name, class:"form-input", autofocus: true, autocomplete: "name", placeholder: "名無しの雪だるま" %>
    </div>
    <!-- メールアドレス -->
    <div class="mb-5 field">
      <%= f.label :email, class:"form-label my-2" %>
      <%= f.email_field :email, class:"form-input", autocomplete: "email", placeholder: "email@example.com" %>
    </div>
    <!-- パスワード -->
    <div class="mb-5 field">
      <%= f.label :password, class:"form-label my-2" %>
      <%= f.password_field :password, class:"form-input", autocomplete: "current-password", placeholder: "6文字以上で入力してください" %>
    </div>
    <!-- パスワード確認 -->
    <div class="mb-5 field">
      <%= f.label :password_confirmation, class:"form-label my-2" %>
      <%= f.password_field :password_confirmation, class:"form-input", placeholder: "同じパスワードを入力してください" %>
    </div>
    <!-- ログイン状態の保持 -->
    <% if devise_mapping.rememberable? %>
      <div class="w-3/4 mx-auto my-5 text-sm field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="items-center inline-block w-full mx-auto my-2 text-center">
      <div class="text-sm">
        <%= link_to t('.privacy_policy'), static_pages_privacy_policy_path, class:"atag px-1" %> と <%= link_to t('.service_of_term'), static_pages_service_of_term_path, class:"atag px-1" %> に同意いただき
      </div>
    </div>
    <!-- 新規登録ボタン -->
    <div class="mb-5 actions btn-secondary">
      <%= f.submit t("devise.registrations.new.sign_up") %>
    </div>
  <% end %>
  <!-- ログインページへのリンクは別パーシャルで管理する -->
  <%= render "devise/shared/links" %>
</div>
