<!-- ログイン画面以外の場合、リンクとして「ログイン」と「Google認証でログイン」を表示 -->
<% if controller_name != 'sessions' %>
  <div class="inline-block w-full mb-5">
    <p class="flex w-3/4 mx-auto text-sm">登録済みの方は</p>
    <%= link_to "ログイン", new_session_path(resource_name), class:"btn-primary" %>
  </div>
<% end %>
<!-- 新規登録画面以外の場合、リンクとして「新規登録」を表示 -->
<% if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="inline-block w-full mb-5">
    <p class="flex w-3/4 mx-auto text-sm">登録がまだの方は</p>
    <%= link_to "新規登録", new_registration_path(resource_name), class:"btn-primary" %>
  </div>
<% end %>
<!-- ログイン前トップページ以外で表示 -->
<% if controller_name != 'static_pages' %>
  <div class="inline-block w-full mb-5">
    <p class="flex w-3/4 mx-auto text-sm">または</p>
    <%= link_to t("devise.shared.links.google_oauth"), "#", class:"btn-thirdary" %>
  </div>
<% end %>

<!--
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false } %><br>
  <% end %>
<% end %>
-->