<!-- デフォルトでは非表示にする -->
<div>
  <nav class="hamburger-menu hidden fixed top-16 right-0 w-64 h-300 bg-[#d5e8f2] shadow-lg z-50">
    <!-- メニュー項目をログイン状態に応じて切り替える -->
      <% if user_signed_in? %>
        <!-- ログイン時： -->
        <ul class="flex items-center hamburger-content">
          <div class="text-[#004681] w-12 h-auto pl-4"><%= svg_tag "information"%></div>
          <div><%= link_to "プライバシーポリシー", static_pages_privacy_policy_path %></div>
        </ul>
        <ul class="flex items-center hamburger-content">
          <div class="text-[#004681] w-12 h-auto pl-4"><%= svg_tag "information"%></div>
          <div><%= link_to "利用規約", static_pages_service_of_term_path %></div>
        </ul>
        <ul class="flex items-center hamburger-content">
          <div class="text-[#004681] w-12 h-auto pl-4"><%= svg_tag "mail"%></div>
          <div><%= link_to "お問い合わせ", static_pages_contact_us_path %></div>
        </ul>
        <ul class="flex items-center hamburger-content">
          <div class="text-[#004681] w-12 h-auto pl-4"><%= svg_tag "logout" %></div>
          <div><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %></div>
        </ul>
      <% else %>
        <ul class="flex items-center hamburger-content">
          <div class="text-[#004681] w-12 h-auto pl-4"><%= svg_tag "login" %></div>
          <div><%= link_to "ログイン", user_session_path %></div>
        </ul>
        <ul class="flex items-center hamburger-content">
          <div class="text-[#004681] w-12 h-auto pl-4"><%= svg_tag "information"%></div>
          <div><%= link_to "プライバシーポリシー", static_pages_privacy_policy_path %></div>
        </ul>
        <ul class="flex items-center hamburger-content">
          <div class="text-[#004681] w-12 h-auto pl-4"><%= svg_tag "information"%></div>
          <div><%= link_to "利用規約", static_pages_service_of_term_path %></div>
        </ul>
      <% end %>
  </nav>
</div>
