<% content_for(:title, t('.title')) %>

<!-- ログインユーザーの観測地点の情報を表示する -->
<div class="max-w-md pl-4 pr-10 mx-auto border rounded-md shadow-lg border-gray-500/20 backdrop-blur-lg mb-4">

  <div class="flex items-center justify-between py-6">
    <!-- 観測地点のマーク -->
    <div class="h-auto w-18 opacity-40"><%= svg_tag "station" %></div>
    <!-- 設定中の観測地点情報 -->
    <div class="mr-auto">
      <div class="text-left indent-3"><%= t('.current_station') %></div>
      <div class="font-semibold text-[#810002] text-left text-xl indent-15"><%= @station_info.prefecture %>・<%= @station_info.station_name %></div>
    </div>
    <div>
      <!-- 変更ボタン -->
      <%= button_to "#{t('shared.change')}", select_station_user_status_path, method: :get, class:"btn-primary min-w-max" %>
    </div>
  </div>
</div>

<!-- ログインユーザーの観測地点の気温を表示する -->
<div class="max-w-md px-4 mx-auto border rounded-md shadow-lg border-gray-500/20 backdrop-blur-lg mb-4">

  <div class="flex items-center justify-between py-6">
    <!-- 温度計のマーク -->
    <div class="h-auto w-18 opacity-40"><%= svg_tag "temperature" %></div>
    <!-- 設定中の観測地点情報 -->
    <div class="mr-auto">
      <div class="text-left indent-5">
        <p><%= "#{format_observation_hour(@latest_record)} #{t('.latest_record_time')}" %></p>
        <p class="font-semibold text-left text-2xl indent-15"><%= "#{@latest_record&.temp.presence || t('.no_data')} ℃"%></p>
      </div>
    </div>
    <div class="mr-15">
      <p class="text-sm"><%= t('.temp_within_24_hours') %></p>
      <p><%= t('.max') %> <span class="font-semibold text-[#810002] text-2xl"><%= @max_temp || t('.no_data') %> ℃</span></p>
      <p><%= t('.min') %> <span class="font-semibold text-2xl"><%= @min_temp || t('.no_data') %> ℃</span></p>
    </div>
  </div>
</div>

<div class="max-w-md px-4 mx-auto border rounded-md shadow-lg border-gray-500/20 backdrop-blur-lg mb-4">
  <!-- 雪かき情報を表示 -->
  <div>
    <div class="my-4 m-10"><%= t('.current_snow_depth') %><span class="font-semibold text-[#810002] text-2xl"><%= " + #{@latest_record&.snow.presence || t('.no_data')} cm" %></span></div>
    <div class="my-4 m-10"><%= t('.work_time') %> <span class="font-semibold text-[#810002]">未実装の機能です</span></div>
  </div>
  <!-- action_statusによって雪かきスタート/ストップを切り替え -->
  <% if current_user.user_status.inactive? %>
    <%= button_to t('.start'), user_records_path, method: :post, class:"btn-secondary text-3xl my-10" %>
  <% else %>
    <p class="text-center pt-5">雪かき中…</p>
    <%= button_to t('.stop'), finish_user_records_path, method: :patch, class:"btn-secondary text-3xl my-10" %>
  <% end %>
</div>
