<% content_for(:title, t('.title')) %>

<!-- ログイン画面の入力フォームを配置 -->
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <!-- メールアドレス -->
  <div class="mb-5 field">
    <%= f.label :email, class:"form-label my-2" %>
    <%= f.email_field :email, class:"form-input", autofocus: true, autocomplete: "email", placeholder: "email@example.com" %>
  </div>
  <!-- パスワード -->
  <div class="mb-5 field">
    <%= f.label :password, class:"form-label my-2" %>
    <%= f.password_field :password, class:"form-input", autocomplete: "current-password", placeholder: "6文字以上で入力してください" %>
  </div>
  <!-- ログイン状態の保持 -->
  <% if devise_mapping.rememberable? %>
    <div class="w-3/4 mx-auto my-5 text-sm field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <!-- ログインボタン -->
  <div class="actions btn-secondary">
    <%= f.submit t("devise.sessions.new.sign_in") %>
  </div>
<% end %>
<!-- パスワード忘れの場合のリンク -->
<div class="items-center inline-block w-full mx-auto mt-2 mb-5 text-center">
  <div class="text-sm">
    パスワードをお忘れの方は<%= link_to "こちら", new_password_path(resource_name), class:"atag px-2" %>
  </div>
</div>
<!-- 新規登録と外部認証は別パーシャルで管理する -->
<%= render "devise/shared/links" %>
