<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ふゆあし" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
  <!-- googleフォントを設定 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <!-- tailwindcssのスタイルシートを読み込むように明示的に指示 -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-[#f6f5fa] noto-sans-jp-600">
    <!-- ヘッダーをここに追加する -->
    <%= render 'shared/header' %>

    <!-- メインコンテンツはyieldで参照 -->
    <main class="pt-20 pb-20">
      <%= yield %>
    </main> 

    <!-- フッターをここに追加する -->
    <%= render 'shared/footer' %>
  </body>
</html>
