<!DOCTYPE html>
<html>
  <head>
    <!-- page_titleヘルパーをもとにページタイトルを決定 -->
    <title><%= page_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- googleフォントを設定 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <!-- tailwindcssのスタイルシートを読み込むように明示的に指示 -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="w-full mx-0 bg-[#f6f5fa]">
    <header class="fixed top-0 left-0 w-full">
      <!-- ヘッダーメニュー -->
      <%= render 'shared/header' %>
      <!-- フラッシュメッセージ -->
      <%= render 'shared/flash_messages' %>
    </header>

    <main class="my-1">
      <div class="hidden"><%= render 'shared/humburger_menu' %></div>
      <!-- メインコンテンツはyieldで参照 画面中央に配置する -->
      <div class="my-auto py-25"><%= yield %></div>
    </main> 

    <footer class="fixed bottom-0 left-0 w-full">
      <!-- フッターメニュー -->
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
