<!DOCTYPE html>
<html>
  <head>
    <!-- page_titleヘルパーをもとにページタイトルを決定 -->
    <title><%= page_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- googleフォントを設定 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <!-- tailwindcssのスタイルシートを読み込むように明示的に指示 -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="mx-0 bg-linear-to-b from-[#9ba9d0] to-[#d5e8f2] text-[#004681]">
    <!-- ヘッダーメニューがハンバーガメニューより前面に表示される高さに設定 -->
    <header class="fixed top-0 left-0 z-50 w-full">
      <%= render 'shared/header' %>
    </header>

    <!-- フラッシュメッセージはヘッダーの直下に配置 -->
    <div class="fixed left-0 w-full pointer-events-none top-16" data-turbo-cache="false">
      <%= render 'shared/flash_messages' %>
    </div>

    <main class="my-1">
      <!-- メインコンテンツはyieldで参照 画面中央に配置する -->
      <div class="min-h-screen px-10 pt-30 pb-25">
      <!-- 氷風のフレーム内にメインコンテンツを配置する -->
      <div class="@container">
        <%= yield %>
      </div>
      <!-- ハンバーガーメニューは画面右側に設定 -->
      <div><%= render 'shared/hamburger_menu' %></div>
    </main>

    <!-- フッターメニューがハンバーガメニューより前面に表示される高さに設定 -->
    <footer class="fixed bottom-0 left-0 z-50 w-full">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
